<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/profile.css"></link>

</head>
<body >

	<div class="main">

		<div class="container">

			<div id="square">
				<div class="front">
					<h1>Reset password</h1>
					<form id="left" action="#"
						th:action="@{/api/sign/forget/confirmed}" method="post"
						th:object="${request}">


						<label for="email"></label> 
						<input type="text" id="email" placeholder="Email"
							name="email" th:value="*{email}" th:field="*{email}"> <br>

						<label for="postcode"></label> 
						<input type="password"
							id="postcode" name="postcode"  placeholder="Password"
							th:value="*{password}" th:field="*{password}"> <br/>



						<button type="submit">Submit</button>

					</form>
				</div>
			</div>

		</div>

	</div>
</body>
</html>