<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worly | Feedback</title>
    <link rel="icon" href="/photos/Feedback/Worly-Logo-F.png">
       <link rel="stylesheet" type="text/css" href="/css/feedback.css"></link> 

</head>
<body>
    <div class="banner-wrap">
        <div class="navbar">
            <div class="logo">
                <img src="/photos/Feedback/Worly-Logo-F.png" alt="Application Logo">

            </div>
              <a class="btn"  th:href="@{/api/attemptquiz}" >Quiz</a>
                <a class="btnnew" th:href="@{/api/details}" >Change details</a>
                <a class="btnnew" href="./recommendation.html" target="_blank">Result</a>
                <!-- Also add links to results and recommendation page -->

                <!-- target="_blank" to make the user land onto a new tab for a better user experience -->

        </div>
        <div class="banner-container">
            <h1 class="">Feedback </h1>
            <h2 class="">Change starts with YOU</h2>
       
            <form>
                <input type="text" placeholder="Got an Idea? Share it with us">

                <button>
                    Submit
                </button>
            </form> 
        </div>
        
    </div>
    <div class="footer">
        <ul>
            <li>Home Page</li>     
            <li>Quiz Page</li>      
            <li>Log-In/Sign-Up</li> 
            <li>Help Center</li> 
            <li>FAQ</li>     
            <li>About Us</li>      
            <li>Contact Us</li>      
              </ul>

    </div>
    <a href="./Recommendation.html" target="_blank">Recommendation</a>
  
</body>
</html> 