<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worly | Home</title>
    <link rel="icon" href="/photos/Home/Worly-Logo-F.png">
    
    
       <link rel="stylesheet" type="text/css" href="/css/Home.css"></link> 

    
</head>
<body>
    <div class="banner-wrap">
        
        <div class="navbar">
            <div class="logo">
                <form>
                    <input Name="IB1" type="Image" img src="/photos/Home/Worly-Logo-F.png" th:href="@{/api/home}" height="80" width="80" alt="Application Logo">
                </form>
            </div>
            
            <a class="btn"  th:href="@{/api/attemptquiz/choosequiz}" >Quiz</a>
                <a class="btnnew" th:href="@{/api/details}" >Change details</a>
                <a class="btnnew" th:href="@{/api/home}" >LogOut</a>
                <!-- <a class="btnnew" href="./aboutus.html" target="_blank">About Us</a> -->
               

                <!-- target="_blank" to make the user land onto a new tab for a better user experience -->

        </div>
        <div class="banner-container">
            <h1 class="">We are WORLY</h1>

            <h2 class="">Initiating a step forward to prevent Climate Change</h2>

           
            <h3 class=""> United Nations Sustainable Development Goals</h3>

                <img src="/photos/Home/new logo.png" alt="Application Logo">
            <h3 class=""> A project by Students at Brunel University London</h3>
           


        </div>
        
    </div>
    <!-- <img src="./data-financial-chart.jpg" alt="results cover page"> -->
    <div class="info-container">
        <div class="info">
            <h1> Our Motto</h1>

            <h2> Our application serves as a platform for users to Organise and Participate in events encouraging people to maintain a healthy environment. It also provides users the ability to learn about the environment around them and offers tailored advice based on the user's engagement with the application. </h2>

            </div>
        <div class="tv-container">
            <embed style="width: 720px; height: 450px;" src="https://www.youtube.com/embed/89tInECFdQ4" ></embed>

        </div>
         
    
    </div>
    <div class="new-info-container">
        <div class="info">
            <h1> How can you start learning?</h1>

            <h2> You can set up an account as either an "environmentalist" or an "organiser", where you will have the opportunity to take part in quizzes conducted weekly. </h2> 
            <h2> These quizzes will analyse your day to day habits and provide you with a score which conveys your carbon footprint. </h2>
            
        </div> 
        <div class="tv-container">
            <img src="/photos/Home/CarbonFootprint.jpg" alt="Application Logo">

        </div>
        
        
    
    </div>
    <div class="newer-info-container">
        <div class="info">
            <h1> Events & Location</h1>

            <h2> • Locate all the events around you with the help of Google Maps </h2> 
            <h2> • Get notified for every new event based on your current location  </h2>

            
        </div> 
        <div class="tv-container">
            <img src="/photos/Home/google-maps-icon.png" alt="Application Logo">

        </div>
        
        
    
    </div>
    <div class="footer">
        <ul>
            <li>Home Page</li>     
            <li>Quiz Page</li>      
            <li>Log-In/Sign-Up</li> 
            <li>Help Center</li> 
            <li>FAQ</li>     
            <li>About Us</li>      
            <li>Contact Us</li>      
              </ul>
              <div class="tv-container">
    
            </div>
    </div>
 

    

    <a href="./Recommendation.html" target="_blank">Recommendation</a>
  
</body>
</html>


