<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/sign.css"></link>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <title>Login page</title>
    </head>
    <body>
        <div class="main">
        <div class="container">
          <div id="square">
            <div class="front">
              <h1>Login</h1>
              <form action="#" method="post">
                <input required type="email" name="email" id="email" placeholder="Email"></input>
                <input required type="password" name="password" id="password" placeholder="Password"></input>
                <button type="submit">Submit</button>
              </form>
            </div>
            <div class="right">
              <h1>Create a new account</h1>
              <form action="#" method="post">
                <input required type="text" name="firstName" id="firstName" placeholder="First name"></input>
                <input required type="text" name="lastName" id="lastName" placeholder="Last name"></input>
                <input required type="email" name="email" id="email" placeholder="Email" ></input>
                <input required type="password" name="password" id="password" placeholder="Password" ></input>
                <input required type="contact" name="contactNo" id="contactNo" placeholder="Contact no."></input>
                <input required type="postcode" name="postcode" id="postcode" placeholder="Postcode"></input>
                <button type="submit">Submit</button>
              </form>
            </div>
            <div class="left">
              <h1>Enter your email to reset password</h1>
                <form action="#" th:action="@{/api/forgot}" method="post" th:object="${request}">
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  th:field="*{email}"
                ></input>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
          <div class="actions">
            <button id="leftSide" type="button">Forgot Password</button>
            <button id="frontSide" type="button">Login</button>
            <button id="rightSide" type="button">Sign up</button>
          </div>
        </div>
      </div>
      <script>
      const square = document.getElementById("square");
      const frontSide = document.getElementById("frontSide");
      const rightSide = document.getElementById("rightSide");
      const leftSide = document.getElementById("leftSide");

      frontSide.addEventListener("click", () => {
        frontSide.style.display = "none";
        rightSide.style.display = "block";
        leftSide.style.display = "block";
        square.style.transform = "rotate3d(0, 0, 0, 90deg)";
        document.title = "Login page";
      });

      rightSide.addEventListener("click", () => {
        rightSide.style.display = "none";
        frontSide.style.display = "block";
        leftSide.style.display = "block";
        square.style.transform = "rotate3d(0, -1, 0, 90deg)";
        document.title = "Sign up page";
      });

      leftSide.addEventListener("click", () => {
        leftSide.style.display = "none";
        frontSide.style.display = "block";
        rightSide.style.display = "none";
        square.style.transform = "rotate3d(0, 1, 0, 90deg)";
        document.title = "Forgot password page";
      });
    </script>
 </body>
</html>

      